.navbar{
    background-color: #454745;
}
.navbar-brand, .navbar-brand:hover{
    color: white;
}


.form-inline{
    position: absolute;
    right: 25px;
}
.btn{
    color:white;
    background-color:seagreen;
    border-color:green;
}
.btn-outline-success{
    color: red;
    background-color: white;
    border-color: red;
}
.btn-outline-success:hover{
    color: white;
    background-color: red;
    border-color: red;
}





.body{
    background-color:#6fbd62;
}

@media screen and (min-width: 1024px){
    section{
        width: 1300px;
        margin: auto;
    }
    
}

section{
    padding: 1em;
}
.info, .add{
    background-color:rgba(227, 207, 176, 0.9);
}
.season, .list{
    background-color: rgba(212, 190, 157, 0.9);
}


p, h1{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 1.5em;
    padding-bottom: 20px;
}


div{
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn-info{
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

label{
	width: 6%;
}


.menu{
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.foreign{
    width: auto;
}



table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    width: 65%;
    border-collapse: collapse;
}
th{
    color: white;
    background-color: #454745;
}

tr {
	background: #e1e1e1;
    color: black;
}

tr:nth-child(odd) { 
	background: #ffffff;
    color: black;
}
